<app-home></app-home>
<div class="container">
  <div class="btnAddItem">
    <button   class="btn btn-success" style="float: right;" routerLink="/add-item" routerLinkActive #rla="routerLinkActive"><i class="fa fa-plus-square"></i> Add Item </button>
  </div>
  <!-- Sample data -->
  <div class="tb1">
    <table id="example" class="highlight table-striped table-bordered" style="width:100%">   
      <thead width="100%">
        <tr >
            <th>Item Name</th>
            <th>Category</th>
            <th>Selling Price</th>
            <th>Price</th>
            <th>Profit</th>
            <th>Source Store</th>
            <th>Markup</th>
            <th>Inventory Type</th>
            <th>Quantity</th>
            <th>Options</th>
        </tr>
      </thead>
  
      <tbody>
        <tr *ngFor="let inventoryService of getInventoryList"> 
            <td>{{inventoryService.itemName}}</td>
            <td>{{inventoryService.category}}</td>
            <td>{{inventoryService.sellingPrice}}</td>
            <td>{{inventoryService.price}}</td>
            <td>{{inventoryService.profit}}</td>
            <td>{{inventoryService.sourceStore}}</td>
            <td>{{inventoryService.markUp}}</td>
            <td>{{inventoryService.inventoryType}}</td>
            <td>{{inventoryService.quantity}}</td>
            <td>
              <!--<a class="btn" (click)="onUpdate( selfService )"><i class="fa fa-pencil-square-o"></i></a>&nbsp;-->
              <a class="btn" routerLink="/updateInventory/"  routerLinkActive #rla="routerLinkActive"><i class="fa fa-pencil-square-o"></i></a>&nbsp;
              <a class="btn text-danger" (click)="onDelete( inventoryService.itemID )"><i class="fa fa-trash-o"></i></a>
            </td>
        </tr>
      </tbody>
    
    </table>
  </div>
</div>

<router-outlet> </router-outlet>