<div class="tb1">
  <table id="example" class="highlight table-striped table-bordered" style="width:95%">   
    <thead>
      <tr>
          <th>Name</th>
          <th>Contact</th>
          <th>Beginning Bal.</th>
          <th>Ending Bal.</th>
          <th>Amount Used</th>
          <th>Items Total</th>
          <th>Transaction Date</th>
          <th>Total Amount</th>
          <th>Options</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let selfService of selfServiceList"> 
          <td>{{selfService.name}}</td>
          <td>{{selfService.contact}}</td>
          <td>{{selfService.beginningBal}}</td>
          <td>{{selfService.endingBal}}</td>
          <td>{{selfService.amountUsed}}</td>
          <td>{{selfService.itemTotal}}</td>
          <td>{{selfService.transDate}}</td>
          <td>{{selfService.totalAmount}}</td>
          <td>
            <a class="btn" (click)="onUpdate( selfService )"><i class="fa fa-pencil-square-o"></i></a>&nbsp;
            <a class="btn text-danger" (click)="onDelete( selfService.transID )"><i class="fa fa-trash-o"></i></a>
          </td>
      </tr>
    </tbody>
  
  </table>
</div>