<div style="text-align:center">
 
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
      
        <ul class="left hide-on-med-and-down">
            <a href="" class="brand-logo">Cleanic Laundromat System</a>
        </ul>
        <ul class="right hide-on-med-and-down">
          <li><a routerLink="/inventory" routerLinkActivate="Active">Inventory</a></li>
        </ul>
      </div>
    </nav>
  </div>
  <!--<div class="sm-jumbotron center-align">
    <h2> Cleanic Laundromat System</h2>
  </div>
  -->
</div>

<router-outlet></router-outlet>
