<app-home></app-home>

<div class="container">
  <form class="col s12" #inventory="ngForm" (ngSubmit)="onSubmit(inventory)">   
    <div class="row">
        <input name="itemID" #itemID="ngModel" [(ngModel)]="LaundryService.getInventoryList.itemID" type="hidden"
        class="validate">
      <div class="input-field col s6">
        Item name:
        <input name="itemName" #itemName="ngModel" [(ngModel)]="LaundryService.getInventoryList.itemName" type="text"
          class="validate">
      </div>  
      <div class="input-field col s6">
        Category:
        <input type="text" class="validate" name="category" #category="ngModel" [(ngModel)]="LaundryService.getInventoryList.category">
      </div>
      <div class="input-field col s4">
        Selling Price
        <input type="text" class="validate" name="sellingPrice" #sellingPrice="ngModel" [(ngModel)]="LaundryService.getInventoryList.sellingPrice">
      </div>
      <div class="input-field col s4">
        Price
        <input type="text" class="validate" name="price" #price="ngModel" [(ngModel)]="LaundryService.getInventoryList.price">
      </div>
      <div class="input-field col s4">
        Profit
        <input type="text" class="validate" name="profit" #profit="ngModel" [(ngModel)]="LaundryService.getInventoryList.profit">
      </div>
      <br>
      <div class="input-field col s2">
        Source Store
        <input type="text" class="validate" name="sourceStore" #sourceStore="ngModel" [(ngModel)]="LaundryService.getInventoryList.sourceStore">
      </div>
      <div class="input-field col s2">
        Quantity
        <input type="text" class="validate" name="quantity" #quantity="ngModel" [(ngModel)]="LaundryService.getInventoryList.quantity">
      </div>
      <div class="input-field col s2">
        Markup
        <input type="text" class="validate" name="markUp" #markUp="ngModel" [(ngModel)]="LaundryService.getInventoryList.markUp">
      </div>

      <div class="input-field col s12">
        Inventory type
        <input type="text" class="validate" name="inventoryType" #inventoryType="ngModel" [(ngModel)]="LaundryService.getInventoryList.inventoryType">
      </div>

    </div>
    <button type="submit" class="btn btn-success"><i class="fa fa-floppy-o"></i> Update</button>
  </form>
</div>