<div style="text-align:center">
 
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
      
        <ul class="left hide-on-med-and-down">
            <a routerLink ="/homebuttons" class="brand-logo">Cleanic Laundromat System</a>
        </ul>
        <ul class="right hide-on-med-and-down">
          <li><a *ngIf="userClaims"><strong>Welcome {{userClaims.FirstName}} {{userClaims.LastName}}!</strong></a></li>
          <li><a href="/inventory" routerLinkActivate="Active">Reports</a></li>
          <li><a href="/inventory" routerLinkActivate="Active">Inventory</a></li>
          <li><a (click)="Logout()">Logout</a></li>
        </ul>
      </div>
    </nav>
  </div>
</div>

<router-outlet></router-outlet>



