<app-home></app-home>

<div class="container">
  <form class="col s12" #inventory="ngForm" (ngSubmit)="onSubmit(inventory)">
    <div class="row">
      <div class="input-field col s6">
          <input name="itemName" #itemName="ngModel" [(ngModel)]="selectedInventory.itemName" type="text" class="validate">
          <label for="itemName">Item name</label>
      </div>
      <div class="input-field col s6">
          <input type="text" class="validate" name="category" #category="ngModel" [(ngModel)]="selectedInventory.category">
          <label for="category">Category</label>
      </div>
      <div class="input-field col s4">
          <input type="text" class="validate" name="sellingPrice" #sellingPrice="ngModel" [(ngModel)]="selectedInventory.sellingPrice">
          <label for="sellingPrice">Selling Price</label>
      </div>
      <div class="input-field col s4">
          <input type="text" class="validate" name="price" #price="ngModel" [(ngModel)]="selectedInventory.price">
          <label for="price">Price</label>
      </div>
      <div class="input-field col s4">
          <input type="text" class="validate" name="profit" #profit="ngModel" [(ngModel)]="selectedInventory.profit">
          <label for="profit">Profit</label>
      </div> 
        <br>
        <div class="input-field col s2">
          <input type="text" class="validate" name="sourceStore" #sourceStore="ngModel" [(ngModel)]="selectedInventory.sourceStore">
          <label for="sourceStore">Source Store</label>
        </div>
        <div class="input-field col s2">
          <input type="text" class="validate" name="quantity" #quantity="ngModel" [(ngModel)]="selectedInventory.quantity">
          <label for="quantity">Quantity</label>
        </div>     
        <div class="input-field col s2">
          <input type="text" class="validate" name="markUp" #markUp="ngModel" [(ngModel)]="selectedInventory.markUp">
          <label for="markUp">Markup</label>
        </div>

        <div class="input-field col s12">
          <input type="text" class="validate" name="inventoryType" #inventoryType="ngModel" [(ngModel)]="selectedInventory.inventoryType">
          <label for="inventoryType">Inventory type</label>
        </div>
        
    </div>
    <button type="submit" class="btn btn-success"><i class="fa fa-floppy-o"></i> Submit</button>
  </form>
</div>